version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: oj_db
    restart: always
    env_file: .env
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine
    container_name: oj_redis
    restart: always
    ports:
      - "6379:6379"

  backend:
    build:
      context: .
      dockerfile: ./docker/backend.Dockerfile
    container_name: oj_backend
    restart: always
    depends_on:
      - db
      - redis
    env_file: .env
    ports:
      - "8000:8000"
    volumes:
      - ./app:/src/app

  worker:
    build:
      context: .
      dockerfile: ./docker/backend.Dockerfile
    container_name: oj_worker
    restart: always
    command: celery -A app.core.celery_app worker --loglevel=info
    depends_on:
      - db
      - redis
    env_file: .env
    volumes:
      - ./app:/src/app
      - /var/run/docker.sock:/var/run/docker.sock
      - ./data:/src/data

volumes:
  postgres_data: