version: '3.8'

services:
  db:
    image: postgres:15-alpine
    env_file: .env
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine

  backend:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/src
    env_file: .env
    depends_on:
      - db
      - redis

  worker:
    build: .
    command: celery -A app.core.celery_app worker --loglevel=info
    volumes:
      - .:/src
      - /var/run/docker.sock:/var/run/docker.sock
    env_file: .env
    depends_on:
      - db
      - redis

volumes:
  postgres_data: